/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #99b8b8;
  border: .05rem solid #fff;
}

.popup-button {
  color: #21556B;
  border: .05rem solid #21556B;
}

/*
 * Base structure
 */

/*
 * Cover
 */

.cover {
  padding: 0 1.5rem;
}

.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

.hr-style {
  border: 2px solid #fff
}

.cover-heading {
  font-weight: bold;
}

