@import url('~leaflet/dist/leaflet.css');
@import url('~leaflet-draw/dist/leaflet.draw.css');
@import url('~leaflet.measurecontrol/docs/leaflet.measurecontrol.css');
@import url('~leaflet-mouse-position/src/L.Control.MousePosition.css');
@import url('~bootstrap/dist/css/bootstrap.css');
@import url('cover.css');
@font-face {
  font-family: "Play";
  src: url(./fonts/Play-Regular.ttf);
}

html,
body {
  height: 100%;
  weight: 100%;
  font-family: "Play";
}

#main_view {
  height: 100%;
  width: 100%;
}

#map_view {
  height: 100%;
}

.leaflet-container {
  font-family: "Play";
}

.leaflet-popup-content {
  color: #21556B;
}

.container {
  z-index: 401;
  top: 15%;
  left: 40%;
  max-width: 400px;
  display: none;
  color: #2f3d44;
  background: rgb(228, 228, 228, 0.9);
  justify-content: center;
  width: auto;
  border-radius: 5px;
  padding: 40px;
}

.display {
  display: block;
}

.logout_container {
  display: block;
}

.popup-info {
  text-align: center;
  font-size: small;
  color: #21556B;
}

.map-button {
  position: absolute;
  z-index: 401;
  right: 100px;
}

.tologin {
  top: 10px;
  right: 30px;
  color: #21556B;
}

.tosignup {
  top: 10px;
  color: #21556B;
}

.tologout {
  top: 40px;
  right: 30px;
  color: #21556B;
}

.user_name {
  z-index: 401;
  position: absolute;
  top: 10px;
  right: 30px;
  font-size: 14px;
  background-color: #866ca7;
  border: .05rem solid #fff;
}

.mine {
  color: #21556B;
  border-width: thin;
  border-style: dashed;
  border-color: #99b8b8;
  background-color: #aacbcb;
}

.sight {
  width: 250px;
  height: 100%;
  background-color: #aacbcb;
  margin-top: 20px;
  border-width: 2px;
  border-radius: 5px;
  border-color: #808080;
  padding: 10px;
  float: left;
  border-width: thin;
  border-style: dashed;
  border-color: #99b8b8;
}

.search {
  text-align: center;
}

.sights-list {
  overflow-y: scroll;
  max-height: 690px;
}

.meta {
  float: left;
}

.hashtag {
  text-align: right;
  color: #21556B;
  float: right;
}

.search-area {
  z-index: 401;
  top: 100px;
  right: 30px;
  max-width: 300px;
  display: block;
  color: #2f3d44;
  background: rgb(228, 228, 228, 0.9);
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
  border-width: thin;
  border-style: dashed;
  border-color: #99b8b8;
}

.search-bar {
  border-width: thin;
  border-style: dashed;
  border-color: #99b8b8;
  background-color: #aacbcb;
  border-radius: 5px;
  text-indent: 5px;
  color: #000;
}

.search.controls {
    height: 35px;
}

.text-muted {
  text-align: center;
  margin-bottom: 7px;
}

.sight > .header {
  height: 30px;
  background-color: #ebebe0;
  border-width: 2px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-color: #808080;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.owner {
  background-color: #cabcd8;
}