<div class="user_name badge badge-info">@ {{ username }}</div>
<div class="controls">
    <button class="map-button btn btn-sm btn-secondary tologout" role="button">LOGOUT</button>
</div>

<div class="container position-fixed"></div>