<h1>LOGIN</h1>
<form class="form-horizontal login" method="post">
    <div class="form-group">
        <input type="text" class="form-control input-username" placeholder="Username">
    </div>
    <div class="form-group">
        <input type="text" class="form-control input-email" placeholder="Email">
    </div>
    <div class="form-group">
        <input type="password" class="form-control input-password" placeholder="Password">
    </div>
    <div class="form-group">
        <div class="controls">
            <button type="submit" class="btn btn-md btn-secondary login">SIGN IN</button>
            <button type="submit" class="btn btn-md btn-secondary cancel">CANCEL</button>
        </div>
    </div>
</form>
