<h1>LOGOUT</h1>
<h3>Are you sure?</h3>
<form class="form-horizontal logout" method="post">
<div class="control-group">
    <div class="controls">
        <button type="submit" class="btn btn-md btn-secondary logout">YEP</button>
        <button type="submit" class="btn btn-md btn-secondary cancel">CANCEL</button>
    </div>
</div>
</form>