<div class="btn-group" role="group">
        <button type="button" class="button btn btn-sm btn-secondary popup-delete-button">DELETE</button>
        <button type="button" class="button btn btn-sm btn-secondary popup-edit-button">EDIT</button>
</div>
