<h3>EDIT SIGHT</h3>
<form class="form-horizontal sight_edit_form">
    <div class="form-group">
        <label class="control-label input-title">Title</label>
        <input type="text" class="form-control input-title" value={{ title }}>
    </div>
    <div class="form-group">
        <label class="control-label input-description">Description</label>
        <textarea type="text" class="form-control input-description" rows="3">{{ description }}</textarea>
    </div>
    <div class="form-group">
        <label class="control-label input-hashtag">hash-tag</label>
        <input type="text" class="form-control input-hashtag" value={{ hash_tag }}>
    </div>
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-md btn-secondary save">SAVE</button>
            <button type="submit" class="btn btn-md btn-secondary cancel">CANCEL</button>
        </div>
    </div>
</form>