<h3>NEW SIGHT</h3>
<form class="form-horizontal sight_form">
    <div class="form-group">
        <label class="control-label input-title">Title</label>
        <input type="text" class="form-control input-title" placeholder="Title">
    </div>
    <div class="form-group">
        <label class="control-label input-description">Description</label>
        <textarea type="text" class="form-control input-description" rows="3"></textarea>
    </div>
    <div class="form-group">
        <label class="control-label input-hashtag">hash-tag</label>
        <input type="text" class="form-control input-hashtag" placeholder="hash-tag">
    </div>
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-md btn-secondary create">SUBMIT</button>
            <button type="submit" class="btn btn-md btn-secondary cancel">CANCEL</button>
        </div>
    </div>
</form>