<h1>SIGN UP</h1>
</div>
<form class="form-horizontal signup" method="post">
    <div class="control-group">
        <div class="controls">
            <input type="text" class="form-control input-username" placeholder="Username">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label input-email"></label>
        <div class="controls">
            <input type="email" class="form-control input-email" placeholder="Email">
            <small id="emailHelp" class="form-text text-muted">E.g. dude@sup.com</small>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <input type="password" class="form-control input-password" placeholder="Password">
            <small id="passwordHelp" class="form-text text-muted">Not less than 8 symbols.</small>
        </div>
    </div>
    <div class="form-group">
        <div class="controls">
            <input type="password" class="form-control input-password" placeholder="Repeat password">
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-md btn-secondary signup">SIGN UP</button>
            <button type="submit" class="btn btn-md btn-secondary cancel">CANCEL</button>
        </div>
    </div>
</form>
