<div class="controls">
    <button class="map-button btn btn-secondary btn-sm tosignup" role="button">SIGN UP</button>
</div>
<div class="controls">
    <button class="map-button btn btn-secondary btn-sm tologin" role="button">LOGIN</button>
</div>


<div class="container position-fixed"></div>