<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title>London Guide</title>

    <script type="text/javascript" src="{% static 'main.bundle.js' %}"></script>

</head>
<body>

<div id="app"></div>
<div id="map_view"></div>


</body>
</html>
